# OS files
Thumbs.db
.DS_Store
Desktop.ini

# Editor/IDE
.vscode/
*.swp
*.swo
*~

# Node / npm
node_modules/
npm-debug.log*

# Extension build artifacts
*.zip
*.crx
*.pem
.release/

# Secrets / Environment Variables
.env

# Temp / scratch files
.tmp/
*.log